hr{
    margin: 0;
}
.rodape{
    background-color: var(--branco);
    padding: 1rem;
    color: black;
}
.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
        padding: 5rem 0 2rem;
    }
    .lista-rodape{
        display: block;
    }
    .rodape__titulo{
        font-size: 1.5rem;
    }
    .lista-rodape__titulo{
        text-transform: uppercase;
        color: var(--cinza--dois);
        font-size: 0.9rem;
        margin-bottom: 1.8rem;
    }
    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.8rem 0;
    }
    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza--dois);
        margin-left: 0.5rem;
    }
}
@media screen and (min-width: 1728px) {
    .lista-rodape{
        border-left: 1px solid var(--cinza--dois);
        padding-left: 1rem;
    }
}